@import '../../index.scss';
@import '../../assets/styles/colors.scss';

.header {
    position: sticky !important;
    top: 0px;
    z-index: 1;
    box-sizing: border-box !important;
    min-width: 190px !important;
    max-height: 100vh !important;
    background-color: $body !important;
    color: $text-color !important;
    border-radius: 0px;
    box-shadow:  5px 5px 14px $shadow-color;

    .logo {
        width: 100% !important;
        height: 55px !important;
        border-bottom: 2px solid #DEE1E7;
    }

    .image {
        width: 120px !important;
        height: 45px !important;
        margin-top: 6px;
        margin-right: 8px;

        display: flex !important;
        flex-direction: row !important;
        flex-wrap: nowrap !important;
        align-items: center !important;
        justify-content: center !important;

        img {
            width: 100% !important;
            height: auto !important;
            object-fit: cover !important;
        }
    }

    @media (max-width: 600px) {
        .hide-text-xs {
            display: none !important;
        }        
    }
}