@import '../../../../index.scss';
.create-card-story{
    width: 335px !important;
    height: 265px !important;
    border-radius: 25px;
    box-shadow:  -5px 10px 15px $shadow-color;
    background-image: $degraded-color !important;
    padding: 14px !important;
    margin-bottom: 10px;

    cursor: pointer;

    h1 {
        font-weight: 350 !important;
        color: white;
    }

    svg {
        color: white !important;
    }

    .icon-add {
        width: 75px !important;
        height: 75px;
        border-radius: 100% !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}