.card-image {
    width: 30% !important;
    max-width: 230px !important;
    height: 100% !important;
    img {
        border-radius: 5px 0px 0px 5px;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover !important;
    }
}