@import '../../../../assets/styles/colors.scss';
.category-card {
    background: $degraded-color !important;
    &:hover {
        transition: opacity ease-in-out 400ms;
        opacity: .9 !important;

        .image {
            overflow: hidden !important;
            img {
                transition: width ease-in-out 300ms,
                            height ease-in-out 300ms,
                            opacity ease-in-out 300ms;
                opacity: .5 !important;
                width: 110% !important;
                height: 110% !important;
            }
        }
    }
}