@import './assets/styles/colors.scss';

.App {
    width: 100% !important;
    height: 100% !important;
}

@media only screen and (max-width: 1100px) {
    .stack{
        width: 100% !important;
    }
}

@media only screen and (min-width: 1100px) {
    .stack{
        width: 65% !important;
    }
}