$background: #EFF3FC;
$body: #fff;
$header: #fff;
$primary-color: #FA5D3A;
$secondary-color: #fd3175;
$text-color: #000000;
$disable-color: #a8a8a8;
$shadow-color: #BFCED9;
$degraded-color:  linear-gradient( 135deg, $primary-color 60%, $secondary-color 100%);
$icon-color: #252525;
$icon-color-active: $primary-color;
$item-color: rgba(250, 93, 58, .3);